Repository RebeccaStevens/satisfactory-power-tools: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, cspell --config=.cspell.json

.lintstagedrc:

{
  "./**/*.{md,yml}": [
    "prettier --write"
  ],
  "./**/*.{ts,vue}": [
    "eslint --fix"
  ],
  "./**/*.{ts,vue,md}": [
    "cspell --config=.cspell.json"
  ],
  "./locales/*.yml": [
    "cspell --config=.cspell.json"
  ]
}

ci: build before lint and typecheck
  .github/workflows/ci.yml
Due: prettier --write

chore: add license
  LICENSE
Due: none

chore: add basic readme
  README.md
Due: prettier --write, cspell --config=.cspell.json

chore: setup coverage
  .github/workflows/ci.yml
  .gitignore
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

feat: setup page title
  locales/en.yml
  src/layouts/404.vue
  src/layouts/default.vue
  src/pages/index.vue
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

chore: config tweaks
  .eslintrc.cjs
  vite.config.ts
Due: eslint --fix, cspell --config=.cspell.json

refactor: common type
  src/types/index.ts
  src/types/tuple.d.ts
  src/types/user-module.d.ts
Due: eslint --fix, cspell --config=.cspell.json

refactor: darkmode detect script
  index.html
Due: none

chore: improve anu setup
  src/main.ts
  tsconfig.json
  unocss.config.ts
Due: eslint --fix, cspell --config=.cspell.json

fix: unocss removing more than it should
  unocss.config.ts
Due: eslint --fix, cspell --config=.cspell.json

chore: setup importing and processing images
  .eslintrc.cjs
  .gitignore
  package.json
  pnpm-lock.yaml
  src/shims.d.ts
  tsconfig.base.json
  tsconfig.json
  vite.config.ts
Due: eslint --fix, cspell --config=.cspell.json

feat: add menu bar are donate button
  images/external/kofi.webp
  locales/en.yml
  src/App.vue
  src/components/header/DonateBtn.vue
  src/components/header/HeaderBar.vue
  src/components/header/main-menu.ts
  src/layouts/default.vue
  src/main.ts
  src/styles/_ko-fi.scss
  src/styles/index.scss
  src/utils/image.ts
  src/utils/index.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

style: use dedent
  vite.config.ts
Due: eslint --fix, cspell --config=.cspell.json

chore: update known words
  .cspell.json
Due: none

build: update build target
  vite.config.ts
Due: eslint --fix, cspell --config=.cspell.json

build: remove broken plugin
  typings/rollup-plugin-unassert.d.ts
  vite.config.ts
Due: eslint --fix, cspell --config=.cspell.json

fix: remove unneeded defer attribute
  index.html
Due: none

refactor: use composable to get the page title
  src/composables/page.ts
  src/pages/index.vue
Due: eslint --fix, cspell --config=.cspell.json

feat: add optimizer page
  locales/en-GB.yml
  locales/en.yml
  src/components/header/main-menu.ts
  src/pages/optimizer/index.vue
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

chore: remove no yet avaliable types
  tsconfig.json
Due: none

chore: update deps
  package.json
  pnpm-lock.yaml
Due: none

fix: building with new dep versions
  package.json
  pnpm-lock.yaml
  tsconfig.json
  tsconfig.node.json
  unocss.config.ts
Due: eslint --fix, cspell --config=.cspell.json

fix: compensate for typo in data
  scripts/parse-raw-game-data/types.ts
Due: eslint --fix, cspell --config=.cspell.json

fix: type checking of non app files
  package.json
  scripts/parse-raw-game-data/docs/parsers/base-gas-mask/types.ts
  scripts/parse-raw-game-data/docs/parsers/blueprint-designer/types.ts
  scripts/parse-raw-game-data/docs/parsers/buildable-corner-wall/types.ts
  scripts/parse-raw-game-data/docs/parsers/buildable-factory/types.ts
  scripts/parse-raw-game-data/docs/parsers/buildable-generator-nuclear/parse.ts
  scripts/parse-raw-game-data/docs/parsers/buildable-pipeline/parse.ts
  scripts/parse-raw-game-data/docs/parsers/buildable-wall/types.ts
  scripts/parse-raw-game-data/docs/parsers/buildable/types.ts
  scripts/parse-raw-game-data/docs/parsers/golf-cart-dispenser/types.ts
  scripts/parse-raw-game-data/docs/parsers/jet-pack/types.ts
  scripts/parse-raw-game-data/docs/parsers/jumping-stilts/types.ts
  scripts/parse-raw-game-data/docs/parsers/parachute/types.ts
  scripts/parse-raw-game-data/docs/parsers/portable-miner-dispenser/types.ts
  scripts/parse-raw-game-data/docs/parsers/schematic/types.ts
  scripts/parse-raw-game-data/docs/parsers/suit-base/types.ts
  scripts/parse-raw-game-data/utils.ts
  scripts/tsconfig.json
  tsconfig.base.json
  tsconfig.node.json
  typings/rollup-plugin-unassert/index.d.ts
Due: eslint --fix, cspell --config=.cspell.json

fix: missing node and well data
  scripts/parse-raw-game-data/resources/load.ts
Due: eslint --fix, cspell --config=.cspell.json

feat: load map game data
  src/data/fracking.ts
  src/data/geysers.ts
  src/data/index.ts
  src/data/nodes.ts
  src/data/types/data.ts
  src/data/types/fracking.ts
  src/data/types/geysers.ts
  src/data/types/index.ts
  src/data/types/nodes.ts
Due: eslint --fix, cspell --config=.cspell.json

fix: look of app (css)
  package.json
  patches/@anu-vue__preset-theme-default@0.11.0.patch
  pnpm-lock.yaml
  src/main.ts
  src/styles/index.scss
  unocss.config.ts
  vite.config.ts
Due: eslint --fix, cspell --config=.cspell.json

fix: hardcode sam ore as it's missing for docs.json
  scripts/parse-raw-game-data/data/Sam.json
  scripts/parse-raw-game-data/docs/load.ts
  src/shims.d.ts
Due: eslint --fix, cspell --config=.cspell.json

fix: use picture tag and with both src and srcset
  src/components/header/DonateBtn.vue
  vite.config.ts
Due: eslint --fix, cspell --config=.cspell.json

feat: automatically grab and rename images from exported game data
  .cspell.json
  .eslintrc.cjs
  .gitignore
  package.json
  scripts/get-game-images/index.ts
  scripts/parse-raw-game-data/docs/index.ts
  scripts/parse-raw-game-data/docs/parsers/base-item/parse.ts
  scripts/parse-raw-game-data/docs/parsers/base-item/types.ts
  scripts/parse-raw-game-data/utils.ts
  src/data/items.ts
  src/data/types/data.ts
  vite.config.ts
Due: eslint --fix, cspell --config=.cspell.json

feat: switch to using quasar components
  index.html
  package.json
  patches/@anu-vue__preset-theme-default@0.11.0.patch
  pnpm-lock.yaml
  src/App.vue
  src/components/header/DonateBtn.vue
  src/components/header/HeaderBar.vue
  src/main.ts
  src/modules/quasar.ts
  src/styles/_ko-fi.scss
  src/styles/common.scss
  src/styles/index.scss
  src/styles/ko-fi.scss
  src/styles/quasar.components.scss
  src/styles/quasar.helper.scss
  src/styles/quasar.variables.scss
  tsconfig.json
  unocss.config.ts
  vite.config.ts
Due: eslint --fix, cspell --config=.cspell.json

feat: initial creation of item selector
  .cspell.json
  .eslintrc.cjs
  images/game-data/fallback.png
  locales/en.yml
  package.json
  pnpm-lock.yaml
  scripts/parse-raw-game-data/data/ItemTeirs.json
  scripts/parse-raw-game-data/docs/index.ts
  scripts/parse-raw-game-data/utils.ts
  src/components/item-selector/ItemSelector.vue
  src/composables/game-data.ts
  src/data/fracking.ts
  src/data/geysers.ts
  src/data/items.ts
  src/data/machines.ts
  src/data/nodes.ts
  src/data/recipes.ts
  src/data/types/data.ts
  src/data/types/fracking.ts
  src/data/types/geysers.ts
  src/data/types/items.ts
  src/data/types/machines.ts
  src/data/types/nodes.ts
  src/data/types/recipes.ts
  src/pages/optimizer/index.vue
  src/polyfills.ts
  src/shims.d.ts
  src/styles/common.scss
  src/styles/quasar.components.scss
  src/styles/quasar.variables.scss
  vite.config.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

chore: ignore temp files
  .gitignore
Due: none
