Repository RebeccaStevens/satisfactory-power-tools: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, cspell --config=.cspell.json

chore: update spelling dictionary
  .cspell.json
Due: none

fix: improve item selector
  src/components/item-selector/ItemSelector.vue
  src/composables/intl.ts
Due: eslint --fix, cspell --config=.cspell.json

fix: update header and page layout logic
  src/components/header/DonateBtn.vue
  src/components/header/HeaderBar.vue
  src/layouts/404.vue
  src/layouts/default.vue
Due: eslint --fix, cspell --config=.cspell.json

chore: update deps
  .nvmrc
  package.json
  pnpm-lock.yaml
  src/pages/optimizer/index.vue
Due: eslint --fix, cspell --config=.cspell.json

wip
  .cspell.json
  .eslintrc.cjs
  .github/workflows/labels.yml
  .nvmrc
  package.json
  pnpm-lock.yaml
  scripts/parse-raw-game-data/docs/index.ts
  scripts/parse-raw-game-data/docs/load.ts
  src/components/header/DonateBtn.vue
  src/components/item-selector/ItemSelector.vue
  src/components/list-box/ListBox.vue
  src/composables/game-data/items/by-types.ts
  src/composables/game-data/machines/by-type.ts
  src/composables/game-data/recipies/applied/by-types.ts
  src/composables/game-data/recipies/applied/create.ts
  src/composables/game-data/recipies/applied/getters.ts
  src/composables/game-data/recipies/general/by-types.ts
  src/data/index.ts
  src/data/items.ts
  src/data/machines.ts
  src/data/recipes.ts
  src/data/special-items.ts
  src/data/types/data.ts
  src/data/types/machines.ts
  src/data/types/recipes.ts
  src/data/types/units/amount.ts
  src/data/types/units/index.ts
  src/data/types/units/math.ts
  src/data/types/units/rates.ts
  src/pages/optimizer/components/applied-recipe-settings/AppliedRecipeSettings.vue
  src/pages/optimizer/components/avaliable-resources/AvaliableResources.vue
  src/pages/optimizer/components/excess-production/ExcessProduction.vue
  src/pages/optimizer/generate.ts
  src/pages/optimizer/index.vue
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

Initial commit from create-remix
  .eslintrc.cjs
  .gitignore
  README.md
  app/entry.client.tsx
  app/entry.server.tsx
  app/root.tsx
  app/routes/_index.tsx
  app/tailwind.css
  package.json
  postcss.config.js
  public/favicon.ico
  public/logo-dark.png
  public/logo-light.png
  tailwind.config.ts
  tsconfig.json
  vite.config.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

build: update deps
  package.json
  pnpm-lock.yaml
Due: none

build: deps update
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: eslint --fix, cspell --config=.cspell.json

build: use more remix v3 features
  vite.config.ts
Due: eslint --fix, cspell --config=.cspell.json

build: update tailwind
  app/tailwind.css
  eslint.config.js
  package.json
  pnpm-lock.yaml
  stylelint.config.ts
  tailwind.config.ts
  vite.config.ts
Due: eslint --fix, cspell --config=.cspell.json

Initial commit from create-react-router
  .dockerignore
  .gitignore
  Dockerfile
  Dockerfile.bun
  Dockerfile.pnpm
  README.md
  app/app.css
  app/root.tsx
  app/routes.ts
  app/routes/home.tsx
  app/welcome/logo-dark.svg
  app/welcome/logo-light.svg
  app/welcome/welcome.tsx
  package.json
  public/favicon.ico
  react-router.config.ts
  tailwind.config.ts
  tsconfig.json
  vite.config.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

build: use tailwindcss 4 beta
  app/app.css
  package.json
  pnpm-lock.yaml
  tailwind.config.ts
Due: eslint --fix, cspell --config=.cspell.json

ci: fixup ci
  .github/workflows/lint-js.yml
  .github/workflows/lint-knip.yml
  .github/workflows/test-js.yml
  .github/workflows/typecheck.yml
  package.json
Due: prettier --write

build: use react-compiler
  eslint.config.js
  knip.jsonc
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: eslint --fix, cspell --config=.cspell.json

refactor: add return type to upgrade functions
  app/game-data/generate/upgrade/buildables.ts
  app/game-data/generate/upgrade/buildings.ts
  app/game-data/generate/upgrade/equipments.ts
  app/game-data/generate/upgrade/items.ts
  app/game-data/generate/upgrade/machines/generators/fuel.ts
  app/game-data/generate/upgrade/machines/generators/geo-thermal.ts
  app/game-data/generate/upgrade/machines/production.ts
  app/game-data/generate/upgrade/machines/sinks.ts
  app/game-data/generate/upgrade/recipes.ts
  app/game-data/generate/upgrade/schematics.ts
  app/game-data/generate/upgrade/vehicles.ts
Due: eslint --fix, cspell --config=.cspell.json

refactor: flatten classesCategorized
  app/game-data/generate/upgrade/index.ts
  app/game-data/types.ts
  app/routes/dump.tsx
Due: eslint --fix, cspell --config=.cspell.json

build: deps update
  app/game-data/generate/upgrade/buildings.ts
  app/game-data/generate/upgrade/index.ts
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: eslint --fix, cspell --config=.cspell.json

build: use global libvips
  package.json
  pnpm-lock.yaml
Due: none

ci: don't preprocess images
  app/game-data/generate/index.ts
Due: eslint --fix, cspell --config=.cspell.json

ci: install vips
  .github/actions/prepare/action.yml
Due: prettier --write

chore: remove unused prettier config
  .prettierrc.yml
  package.json
  pnpm-lock.yaml
Due: prettier --write

build(deps): update
  package.json
  pnpm-lock.yaml
Due: none

fix: expose FG types in game data
  app/game-data/types.ts
Due: eslint --fix, cspell --config=.cspell.json

build: update vite config
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: eslint --fix, cspell --config=.cspell.json

feat: detect what theme to apply
  app/root.tsx
  app/theme.ts
  app/utils/cn.ts
  app/utils/index.ts
  eslint.config.js
  package.json
  pnpm-lock.yaml
  typings/es.d.ts
Due: eslint --fix, cspell --config=.cspell.json

fix: update tailwind config
  app/root.tsx
  app/styles/index.css
  app/styles/theme.css
  project-dictionary.txt
Due: none

fix: remove welcome page
  app/routes.ts
  app/routes/home.tsx
  app/welcome/logo-dark.svg
  app/welcome/logo-light.svg
  app/welcome/welcome.tsx
Due: eslint --fix, cspell --config=.cspell.json

Path conditions:
  prettier --write: any of: ./**/*.{md,yml}
  eslint --fix: any of: ./**/*.{ts,vue}
  cspell --config=.cspell.json: (any of: ./**/*.{ts,vue,md}) or (any of: ./locales/*.yml)
