Repository RebeccaStevens/satisfactory-power-tools: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, cspell --config=.cspell.json

feat: make schematic data avaliable
  scripts/parse-raw-game-data/docs/load.ts
  scripts/parse-raw-game-data/docs/parsers/schematic/parse.ts
  scripts/parse-raw-game-data/docs/parsers/schematic/types.ts
  scripts/parse-raw-game-data/index.ts
Due: eslint --fix, cspell --config=.cspell.json

ci: fix
  scripts/get-game-images/index.ts
Due: eslint --fix, cspell --config=.cspell.json

chore: update deps
  .github/renovate.json
  package.json
  pnpm-lock.yaml
Due: none

chore: only build the client for now (by default)
  package.json
Due: none

chore: rename scripts
  package.json
Due: none

chore: run renovate monthly
  .github/renovate.json
Due: none

ci: disable failing ci test until issue can be resolved
  .github/workflows/build-ssg.yml
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/lint-js.yml
  .github/workflows/test-js.yml
  .github/workflows/type-check-app.yml
Due: prettier --write

chore: deps update
  package.json
  patches/iterator-helpers-polyfill@2.3.0.patch
  pnpm-lock.yaml
Due: none

fix(item-selector): how item as active when selected
  src/components/item-selector/ItemSelector.vue
Due: eslint --fix, cspell --config=.cspell.json

fix(item-selector): set the options' keys
  src/components/item-selector/ItemSelector.vue
Due: eslint --fix, cspell --config=.cspell.json

refactor(item-selector): rename scope to data
  src/components/item-selector/ItemSelector.vue
Due: eslint --fix, cspell --config=.cspell.json

chore: patch unassert
  package.json
  patches/rollup-plugin-unassert@0.6.0.patch
  patches/unassert@2.0.0.patch
  vite.config.ts
Due: eslint --fix, cspell --config=.cspell.json

chore(deps): update deps
  package.json
  pnpm-lock.yaml
Due: none

build: use classic way of importing json files
  src/data/index.ts
  vite.config.ts
Due: eslint --fix, cspell --config=.cspell.json

build(deps): update
  .cspell.json
  package.json
  patches/@intlify__unplugin-vue-i18n@0.10.0.patch
  patches/rollup-plugin-unassert@0.6.0.patch
  patches/unassert@2.0.2.patch
  patches/vite-plugin-vue-layouts@0.8.0.patch
  pnpm-lock.yaml
Due: none

refactor: use a type file to load vite client types
  src/vite-env.d.ts
  tsconfig.json
Due: eslint --fix, cspell --config=.cspell.json

build: update unocss config for newer version
  unocss.config.ts
Due: eslint --fix, cspell --config=.cspell.json

refactor: improve readablity
  scripts/parse-raw-game-data/docs/index.ts
  src/data/fracking.ts
  src/main.ts
Due: eslint --fix, cspell --config=.cspell.json

fix: make the inline startup script async
  index.html
Due: none

fix: small maintanace
  .eslintrc.cjs
  .nvmrc
  package.json
  pnpm-lock.yaml
  tsconfig.node.json
Due: none

build: refactor tsconfig files
  .eslintrc.cjs
  package.json
  scripts/tsconfig.json
  src/tsconfig.json
  tsconfig.base.json
  tsconfig.json
  tsconfig.node.json
Due: none

refactor: split vue specific shims
  src/shims.d.ts
  src/vue-shims.d.ts
Due: eslint --fix, cspell --config=.cspell.json

docs: fixup umodel command
  scripts/get-game-images/index.ts
Due: eslint --fix, cspell --config=.cspell.json

build: update deps
  package.json
  pnpm-lock.yaml
Due: none

ci: configure knip
  .github/workflows/ci.yml
  .github/workflows/lint-knip-dev.yml
  .github/workflows/lint-knip-prod.yml
  knip.ts
  package.json
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

build: update deps for knip
  package.json
  pnpm-lock.yaml
Due: none

fix: workaround for ts not resolving knip properly
  knip.ts
Due: eslint --fix, cspell --config=.cspell.json

ci: build before running knip in dev mode
  .github/workflows/lint-knip-dev.yml
Due: prettier --write

fix: change Parachute to an equipment
  scripts/parse-raw-game-data/data/ItemTeirs.json
Due: none

fix: specify icon for sam ore
  scripts/parse-raw-game-data/data/Sam.json
Due: none

chore: make dirs as needed for get-game-images
  scripts/get-game-images/index.ts
Due: eslint --fix, cspell --config=.cspell.json

feat: add sort by points option for item selector
  src/components/item-selector/ItemSelector.vue
  src/utils/index.ts
  src/utils/math.ts
Due: eslint --fix, cspell --config=.cspell.json

fix: allow setting the default sort order
  src/components/item-selector/ItemSelector.vue
Due: eslint --fix, cspell --config=.cspell.json

refactor: use class styling
  src/components/item-selector/ItemSelector.vue
Due: eslint --fix, cspell --config=.cspell.json

fix: start laying out optimizer page
  src/pages/optimizer/index.vue
Due: eslint --fix, cspell --config=.cspell.json

feat: add way to filter listed items
  src/components/item-selector/ItemSelector.vue
Due: eslint --fix, cspell --config=.cspell.json

Path conditions:
  prettier --write: any of: ./**/*.{md,yml}
  eslint --fix: any of: ./**/*.{ts,vue}
  cspell --config=.cspell.json: (any of: ./**/*.{ts,vue,md}) or (any of: ./locales/*.yml)
